@model CLI.Models.PaymentParametersModel
@{
    Layout = null;
}
<link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />


<h1>Loan Informations</h1>
<h3 class="text-center form-group">
    @if (@ViewBag.monthly_cost != "0.00" && @Model.Loan_amount != 0 && @Model.Duration_of_loan != 0)
    {
        @:Loan amount of @Model.Loan_amount kr. for @Model.Duration_of_loan years should show that the monthly payment is @ViewBag.monthly_cost kr.
        @:Furthermore, it shows that the total amount paid as interest rate is @ViewBag.paid_interest_rate kr. and that administration fee was @ViewBag.paid_administrative_fees kr.
        @:and AOP equals @ViewBag.aop %
    }
    else
    {
        @:Something make wrong please click 'Back' and fill fiealds again :)
    }
</h3>
<div class="form-group col-6">
    @if (@Model.Interest_rate_calculated_monthly)
    {
        @:*Interest rate calculated monthly is checked and monthly payment value is only for first rate
    }
</div>
<a asp-action="Index"><h4>Back</h4></a>


